@font-face {
    font-family: open-huninn;
    src: url(./font/jf-openhuninn-1.0.ttf);
}

.container {
    max-width: 800px;
}

header img {
    margin: 0 auto;
}

main {
    display: flex;
}

main .text {
    display: inline-block;
    margin: 0 auto;
    background-color: #e12853;
    color: white;   
    padding: 10px;
    font-size: 28pt;
    font-family: "open-huninn";
}